<div class="grid">
  <div class="col-12">
      <div class="card shadow-xl px-8 py-8 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded-xl">
          <h4 class="font-bold text-2xl text-white flex items-center space-x-3 mb-4">
              <i class="pi pi-id-card text-3xl"></i>
              <span>Matricule : <span class="text-lg">{{ employe?.matricule }}</span></span>
          </h4>
          <p-toolbar styleClass="mb-6">
            <ng-template pTemplate="left">
              <div class="my-4 bg-white rounded-xl shadow-md p-6">
                  <div class="flex justify-center mb-4">
                      <i class="fas fa-user text-3xl text-gray-700"></i> 
                  </div>
                  <ul class="list-none p-0 m-0 w-full font-semibold text-gray-800">
                        <li class="flex justify-between items-center mb-4">
                          <span class="text-sm text-gray-700">Matricule  :  </span>
                          <span class="text-lg text-gray-900 font-bold">
                              {{ employe?.matricule }}
                          </span>
                      </li>
                      <li class="flex justify-between items-center mb-4 border-b border-gray-200 pb-4">
                          <span class="text-sm text-gray-700">Prénom et Nom :</span>
                          <span class="text-lg text-gray-900 font-bold">
                              {{ employe?.prenom }} {{ employe?.nom }}
                          </span>
                      </li>
                      <li class="flex justify-between items-center mb-4">
                          <span class="text-sm text-gray-700">Poste :</span>
                          <span class="text-lg text-gray-900 font-bold">
                              {{ employe?.poste }}
                          </span>
                      </li>
                  </ul>
              </div>
          </ng-template>

          </p-toolbar>
          <p-toast></p-toast>
      </div>
  </div>
</div>
