<div class="col-12">
  <div class="card px-6 py-6" style="background-color: rgb(235, 242, 246);">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
              <p-button label="Pointez l'agent" [raised]="true" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()" severity="success"/>
            </div>
        </ng-template>
        <ng-template pTemplate="right">
              <p-button label="Export CSV" [raised]="true" icon="pi pi-upload" class="p-button-help mr-3" (click)="dt.exportCSV()" severity="help"/>
              <p-button label="Export PDF" [raised]="true" icon="pi pi-file-pdf" class="p-button-help mr-3" (click)="exportPDF()" severity="help"/>
        </ng-template>
    </p-toolbar>
      <div *ngIf="loading" class="loading-message">
          <p>Chargement, veuillez patienter le chargement des Pointages...</p>
      </div>

      <p-table #dt [value]="pointages" [columns]="cols" responsiveLayout="scroll" [rows]="10"
          styleClass="p-datatable-gridlines"
          [globalFilterFields]="['fullname','heure_entree','employeMatricule','date','statusLibelle']" [paginator]="true"
          [rowsPerPageOptions]="[4,10,20,30]" [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple"
          [rowHover]="true" dataKey="id">
          <ng-template pTemplate="caption">
              <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                  <h5 class="m-0">Gestion Des Pointages </h5>
                  <span class="block mt-2 md:mt-0 p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                          class="w-full sm:w-auto" />
                  </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr class="p-datatable-thead">
              <th pSortableColumn="fullname" class="p-datatable-header p-bg-info">Employe <p-sortIcon field="fullname"></p-sortIcon></th>
              <th pSortableColumn="date" class="p-datatable-header p-bg-info">Date <p-sortIcon field="date"></p-sortIcon></th>
              <th pSortableColumn="heure_entree" class="p-datatable-header p-bg-info">heure d'entree <p-sortIcon field="heure_entree"></p-sortIcon></th>
              <th pSortableColumn="statusLibelle" class="p-datatable-header p-bg-info">Etat <p-sortIcon field="statusLibelle"></p-sortIcon></th>
              <th pSortableColumn="heure_sortie" class="p-datatable-header p-bg-info">heure de sortie <p-sortIcon field="heure_sortie"></p-sortIcon></th>
              <th pSortableColumn="duree_travaillee" class="p-datatable-header p-bg-info">Duree Travaillee <p-sortIcon field="duree_travaillee"></p-sortIcon></th>
              <th pSortableColumn="action" class="p-datatable-header p-bg-info">Action <p-sortIcon field="action"></p-sortIcon></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-pointage>
              <tr>
                <td style="min-width:15rem;">
                  {{ pointage.employesPrenom }} {{ pointage.employesNom }}
              </td>

              <td style="min-width:15rem;">
                  {{ pointage.date | date: 'dd/MM/yyyy' }}
              </td>

              <td style="min-width:15rem;">
                  {{ pointage.heure_entree }}
              </td>


              <td style="min-width:15rem;">
                <p-tag [severity]="getSeverity(pointage.statusCouleur)" [value]="pointage.statusLibelle"></p-tag>
              </td>

              <td style=" min-width:10rem;"><span class="p-column-title">Code</span>
                  {{pointage.heure_sortie || pointage.id}}
              </td>

              <td style=" min-width:15rem;">
                {{pointage.duree_travaillee}}
              </td>

                <td>
                    <div class="flex">
                      <p-button
                        icon="pi pi-pencil"
                        [rounded]="true"
                        [text]="true"
                        [raised]="true"
                        severity="info"
                        styleClass="p-button-text p-button-icon-only mr-2"
                        (click)="edit(pointage)">
                      </p-button>

                      <p-button
                          icon="pi pi-trash"
                          [rounded]="true"
                          [text]="true"
                          [raised]="true"
                          severity="danger"
                          styleClass="p-button-icon-only ml-2"
                          (click)="deleteProduits(pointage)">
                     </p-button>

                    </div>
                </td>
              </tr>
          </ng-template>
      </p-table>
  </div>

<p-dialog [(visible)]="pointagesDialog"
  [style]="{width: '700px', height: '600px'}"
  header="POINTAGE DE L'EMPLOYE"
  [modal]="true"
  class="p-fluid">
<ng-template pTemplate="content">
<form [formGroup]="form" (ngSubmit)="saveProduits()">
<div class="field">
<label for="employe">Employé</label>
<p-dropdown
  id="employe"
  formControlName="employesMatricule"
  [options]="employes"
  optionLabel="matricule"
  placeholder="Sélectionnez un employé"
  [autoDisplayFirst]="false"
  [filter]="true"
  filterPlaceholder="Rechercher un employé"
  [showClear]="true">
</p-dropdown>
</div>

<div class="field">
<label for="date">Date </label>
<p-calendar
  id="date"
  formControlName="date"
  [showIcon]="true"
  dateFormat="dd/mm/yy">
</p-calendar>
</div>

<div class="field">
<label for="time">Heure D'entrée (avec secondes)</label>
<p-calendar
  id="time"
  formControlName="heure_entree"
  [timeOnly]="true"
  [showSeconds]="true"
  [hourFormat]="'24'"
  [showIcon]="true">
</p-calendar>
</div>

<div class="field">
<label for="time">Heure De Sortie (avec secondes)</label>
<p-calendar
    id="time"
    formControlName="heure_sortie"
    [timeOnly]="true"
    [showSeconds]="true"
    [hourFormat]="'24'"
    [showIcon]="true">
</p-calendar>
</div>

<div class="field">
<label for="time">Durée de Travail (avec secondes)</label>
<p-calendar
  id="time"
  formControlName="duree_travaillee"
  [timeOnly]="true"
  [showSeconds]="true"
  [hourFormat]="'24'"
  [showIcon]="true">
</p-calendar>
</div>
</form>
</ng-template>

<ng-template pTemplate="footer">
<button pButton pRipple
    label="Annuler"
    icon="pi pi-times"
    class="p-button-rounded p-button-danger p-button-outlined"
    style="font-weight: bold; border-radius: 20px; padding: 10px 20px;"
    (click)="hideDialog()">
</button>
<button pButton pRipple
    label="Sauvegarder"
    icon="pi pi-check"
    class="p-button-rounded p-button-success"
    style="font-weight: bold; border-radius: 20px; padding: 10px 20px;"
    (click)="saveProduits()"
    [disabled]="form.invalid">
</button>
</ng-template>
</p-dialog>


  <p-dialog [(visible)]="deleteproduitsDialog"
  header="Suppression de l'employe"
  [modal]="true"
  [closable]="false"
  [style]="{width:'30vw'}"
  [styleClass]="'p-dialog-custom p-shadow-5'">
  <div class="flex align-items-center justify-content-center" style="text-align: center; padding: 1rem;">
      <i class="pi pi-exclamation-circle" style="font-size: 1.5rem; color: #FF5252;"></i>
      <div style="margin-left: 1rem;">
          <h2 style="color: #495057; font-weight: 600;">Êtes-vous sûr ?</h2>
          <p style="color: #6c757d;">Vous êtes sur le point de supprimer <b>{{pointage.employesMatricule}}</b>. Cet pointage est irréversible.</p>
      </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end mt-3">
      <button pButton pRipple icon="pi pi-times"
              class="p-button-rounded p-button-text p-button-secondary"
              label="Annuler"
              style="border: 1px solid #ddd; color: #495057; margin-right: 10px;"
              (click)="deleteproduitsDialog = false"></button>

      <button pButton pRipple icon="pi pi-check"
              class="p-button-rounded p-button-danger p-button-raised p-button-sm"
              label="Supprimer"
              style="background-color: #d9534f; color: white; border: none;"
              (click)="confirmDelete()"></button>
    </div>
  </ng-template>

  </p-dialog>


</div>

