
<div class="grid">
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card p-0 overflow-hidden flex flex-column">
      <div class="flex align-items-center p-3">
        <i class="pi pi-users text-6xl text-blue-500"></i>
        <div class="ml-3">
          <span class="text-blue-500 block white-space-nowrap">NBRES EMPLOYES</span>
          <span class="text-blue-500 block text-4xl font-bold">3882</span>
        </div></div><img alt="users" class="w-full" src="https://verona.primeng.org/assets/demo/images/dashboard/users.svg">
      </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-4">
      <div class="card p-0 overflow-hidden flex flex-column">
        <div class="flex align-items-center p-3">
          <i class="pi pi-comments text-6xl text-blue-500"></i>
          <div class="ml-3">
            <span class="text-blue-500 block white-space-nowrap">NBRES DEMANDES</span>
            <span class="text-blue-500 block text-4xl font-bold">3882</span>
          </div></div><img alt="users" class="w-full" src="https://verona.primeng.org/assets/demo/images/dashboard/users.svg">
        </div>
      </div>


  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card p-0 overflow-hidden flex flex-column">
      <div class="flex align-items-center p-3">
        <i class="pi pi-users text-6xl text-blue-500"></i>
        <div class="ml-3">
          <span class="text-blue-500 block white-space-nowrap">USERS SIGNED UP</span>
          <span class="text-blue-500 block text-4xl font-bold">3882</span>
        </div></div><img alt="users" class="w-full" src="https://verona.primeng.org/assets/demo/images/dashboard/users.svg">
      </div>
    </div>

    <div class="col-12 xl:col-6">
          <div class="card">
              <h5>Nombres Totals des Absents</h5>
              <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
          </div>
      </div>

      <div class="col-12 xl:col-6">
          <div class="card">
              <h5>Nombres Totales des Demandes de Permissions</h5>
              <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
          </div>
      </div>


  </div>
