
<div class="grid">
  <div class="col-12 lg:col-6 xl:col-3">
      <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
              <div>
                  <span class="block text-500 font-medium mb-3">Nbres Employes</span>
                  <div class="text-900 font-medium text-xl"><b>340</b></div>
              </div>
              <div class="flex align-items-center justify-content-center bg-green-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                  <i class="pi pi-money-bill text-green-500 text-xl"></i>
              </div>
          </div>
      </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3">
      <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
              <div>
                  <span class="block text-500 font-medium mb-3">Nbres Utilusateurs</span>
                  <div class="text-900 font-medium text-xl"><b>{{21}}</b></div>
              </div>
              <div class="flex align-items-center justify-content-center bg-orange-100 border-round"[ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                  <i class="pi pi-money-bill text-orange-500 text-xl"></i>
              </div>
          </div>
      </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
      <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
              <div>
                  <span class="block text-500 font-medium mb-3">Valide</span>
                  <div class="text-900 font-medium text-xl"><b>22</b></div>
              </div>
              <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                  <i class="pi pi-wallet text-cyan-500 text-xl"></i>
              </div>
          </div>
      </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
      <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
              <div>
                  <span class="block text-500 font-medium mb-3">Nbres Pointages</span>
                  <div class="text-900 font-medium text-xl"><b>10</b></div>
              </div>
              <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                  <i class="pi pi-wallet text-purple-500 text-xl"></i>
              </div>
          </div>

      </div>
  </div>

    <div class="col-12 xl:col-6">
          <div class="card">
              <h5>Nombres Totals des Absents</h5>
              <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
          </div>
      </div>

      <div class="col-12 xl:col-6">
          <div class="card">
              <h5>Nombres Totales des Demandes de Permissions</h5>
              <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
          </div>
      </div>


  </div>
