<div class="col-12">
  <div class="card px-6 py-6" style="background-color: rgb(235, 242, 246);">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
              <div class="my-2">
                <p-button label="Nouveau" [raised]="true" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()" severity="success"/>
              </div>
          </ng-template>
          <ng-template pTemplate="right">
              <button pButton pRipple label="Export CSV" icon="pi pi-upload" class="p-button-help mr-3"
                  (click)="dt.exportCSV()"></button>

              <button pButton pRipple label="Export PDF" icon="pi pi-file-pdf" class="p-button-help"
                  (click)="exportPDF()"></button>
          </ng-template>
      </p-toolbar>
      <div *ngIf="loading" class="loading-message">
          <p>Chargement, veuillez patienter le chargement des Employés...</p>
          </div>

      <p-table #dt [value]="statuts" [columns]="cols" responsiveLayout="scroll" [rows]="10"
          styleClass="p-datatable-gridlines"
          [globalFilterFields]="['code','libelle']" [paginator]="true"
          [rowsPerPageOptions]="[4,10,20,30]" [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple"
          [rowHover]="true" dataKey="id">
          <ng-template pTemplate="caption">
              <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                  <h5 class="m-0">Gestion Des Statut </h5>
                  <span class="block mt-2 md:mt-0 p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                          class="w-full sm:w-auto" />
                  </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr class="p-datatable-thead">
              <th pSortableColumn="libelle" class="p-datatable-header p-bg-info">Libelle <p-sortIcon field="libelle"></p-sortIcon></th>
              <th pSortableColumn="couleur" class="p-datatable-header p-bg-info">Couleur <p-sortIcon field="couleur"></p-sortIcon></th>
              <th pSortableColumn="description" class="p-datatable-header p-bg-info">Description <p-sortIcon field="description"></p-sortIcon></th>
              <th pSortableColumn="action" class="p-datatable-header p-bg-info">Action <p-sortIcon field="action"></p-sortIcon></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-statut>
              <tr>
                <td style="min-width:15rem;">
                  <p-tag [severity]="getSeverity(statut.couleur)" [value]="statut.libelle"></p-tag>
                </td>
                
                  <td style=" min-width:15rem;">
                    {{statut.couleur}}
                  </td>
                  <td style=" min-width:15rem;">
                    {{statut.description}}
                  </td>

                  <td>
                      <div class="flex">
                        <p-button
                         icon="pi pi-pencil"
                         [rounded]="true"
                         [text]="true"
                         [raised]="true"
                         severity="info"
                         styleClass="p-button-text p-button-icon-only mr-2"
                         (click)="edit(statut)">
                        </p-button>

                        <p-button
                        icon="pi pi-trash"
                        [rounded]="true"
                        [text]="true"
                        [raised]="true"
                        severity="danger"
                        styleClass="p-button-icon-only ml-2"
                        (click)="deleteStatuts(statut)">
                    </p-button>

                      </div>
                  </td>
              </tr>
          </ng-template>
      </p-table>
  </div>

  <p-dialog [(visible)]="statutsDialog" [style]="{width: '450px'}" header="Saisie les Details des Statuts" [modal]="true"
      class="p-fluid">
      <ng-template pTemplate="content">
          <form [formGroup]="form" (ngSubmit)="saveStatuts()">
              <div class="field">
                <label for="name">Libelle</label>
                <input type="text" pInputText id="name" formControlName="libelle" autofocus />
              </div>

              <div class="field">
                <label for="couleur">Couleur</label>
                <p-dropdown
                    id="couleur"
                    formControlName="couleur"
                    [options]="typeOptions"
                    placeholder="Sélectionnez un Couleur">
                </p-dropdown>
            </div>

              <div class="field">
                <label for="description">Description</label>
                <textarea
                  id="description"
                  pInputTextarea
                  formControlName="description"
                  rows="4"
                  cols="30"
                  autofocus>
                </textarea>
              </div>
          </form>
      </ng-template>
      <ng-template pTemplate="footer">
          <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"
          style="font-weight: bold; border-radius: 20px; padding: 10px 20px;" (click)="hideDialog()">
         </button>

          <button pButton pRipple label="Sauvegarder" icon="pi pi-check" class="p-button-rounded p-button-success"
              style="font-weight: bold; border-radius: 20px; padding: 10px 20px;" (click)="saveStatuts()"
              [disabled]="form.invalid">
          </button>
      </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="deletestatutsDialog"
  header="Suppression du Statut"
  [modal]="true"
  [closable]="false"
  [style]="{width:'30vw'}"
  [styleClass]="'p-dialog-custom p-shadow-5'">
  <div class="flex align-items-center justify-content-center" style="text-align: center; padding: 1rem;">
      <i class="pi pi-exclamation-circle" style="font-size: 1.5rem; color: #FF5252;"></i>
      <div style="margin-left: 1rem;">
          <h2 style="color: #495057; font-weight: 600;">Êtes-vous sûr ?</h2>
          <p style="color: #6c757d;">Vous êtes sur le point de supprimer <b>{{statut.libelle}}</b>. Cet employe est irréversible.</p>
      </div>
  </div>
      <ng-template pTemplate="footer">
          <div class="flex justify-content-end mt-3">
              <button pButton pRipple icon="pi pi-times"
                      class="p-button-rounded p-button-text"
                      label="Annuler"
                      style="border: 1px solid #ddd; color: #495057;"
                      (click)="deletestatutsDialog = false"></button>
              <button pButton pRipple icon="pi pi-check"
                      class="p-button-rounded p-button-danger"
                      label="Supprimer"
                      (click)="confirmDelete()"></button>
          </div>
      </ng-template>
  </p-dialog>


</div>

